@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #518BE1;
}
.wrapper{
    background: #FFFF;
    width: 370px;
    padding: 30px;
    border-radius: 7px;
}
.wrapper header{
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}
.wrapper form{
    margin: 40px 0px 20px 0px;
}
form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
form input{
    border: 1px solid #999;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
}
form p{
    font-size: 18px;
    margin-bottom: 5px;
}
form input:focus{
    padding: 0 14px;
    border: 2px solid #518BE1;
}
form .drop-list{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.drop-list .select-box{
    display: flex;
    width: 120px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 5px;
}
.drop-list select{
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}

.select-box img{
    max-width: 25px;
}
.drop-list .icon{
    font-size: 22px;
    margin-top: 30px;
    cursor: pointer;
}
form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
}
form button{
    height: 52px;
    color: #FFFF;
    font-size: 17px;
    cursor: pointer;
    background: #518BE1;
}